.background {
    img {
        mask-image: url('../images/main/text-image.png');
        -webkit-mask-image: url('../images/main/text-image.png');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: auto;
        -webkit-mask-size: auto;
        transition: mask-size 0.3s ease;
    }
}