@import url('https://fonts.cdnfonts.com/css/rockwell-nova');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.section1 {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: background-image 0.5s ease;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/common/kv_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 0.3s ease;
        background-attachment: fixed;
        opacity: 0;
        z-index: 0;
    }

    &.active {
        background-color: transparent !important;

        .main-kv {
            background-color: transparent !important;
        }
    }

    &.active::before {
        opacity: 1; // 변경된 이미지가 보이도록 설정
    }
}

.section2 {
    height: 100%;
    padding: 200px 100px;
    // background-image: url(../images/common/second_bg02.jpg);
    background-repeat: no-repeat;
}

.section3 {
    background-color: rgb(238, 191, 129);
}

.section4 {
    background-color: rgb(231, 216, 82);
}

.section5 {
    background-color: rgb(202, 195, 240);
}


.main-kv {
    width: 100%;
    height: 100vh;
    background-color: #E5E5EB;
    overflow: hidden;
    transition: background-image 0.5s ease, background-color 0.5s ease;


    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     // background-image: url(../images/common/second_bg.jpg);
    //     background-size: cover;
    //     background-position: bottom;
    //     transition: opacity 0.3s ease;
    //     opacity: 0;
    //     z-index: -1;
    // }

    // &.active {
    //     background-color: transparent;
    // }

    // &.active::before {
    //     opacity: 1; // 변경된 이미지가 보이도록 설정
    // }


    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        h2 {
            font-family: "Poppins";
            font-size: 9.375rem;
            font-weight: 300;
            line-height: 12.5rem;
            text-align: center;
            transition: font-size 0.3s ease;

            strong {
                font-style: italic;
                font-weight: 500;
                font-family: 'Rockwell Nova',
                    sans-serif;
            }
        }
    }

    &__imagewrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__imageinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__image {
        flex: 1;
        position: relative;
        width: 100%;
        // transition: transform 0.5s,
        //     opacity 0.5s;
        background-repeat: no-repeat;
        mask-repeat: no-repeat;
        opacity: 0;


        &--top {
            transform: translate(0, -100%);
            background-image: url(../images/common/mind.png);
            background-position: center bottom;


            &.active {
                background-color: #CCFE00;
                background-image: none;
                background-position: center;
                mask-image: url('../images/common/mind.png');
                -webkit-mask-image: url('../images/common/mind.png');
                mask-position: center bottom;
            }
        }

        &--bottom {
            transform: translate(0, 101%);
            background-image: url(../images/common/magnet.png);
            background-position: center top;

            &.active {
                background-color: #CCFE00;
                background-image: none;
                background-position: center;
                mask-image: url('../images/common/magnet.png');
                -webkit-mask-image: url('../images/common/magnet.png');
                mask-position: center top;
            }

        }
    }

    .scroll-arrow {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        z-index: 1;
        opacity: 0;
        transition: all 1s;

        &.active {
            transform: translate(-50%, -40%);
            opacity: 1;
        }
    }
}

.text {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #CCFE00, #CCFE00) no-repeat;
    background-size: 0%;
    font-size: 8.75rem;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 8.75rem;
    color: rgb(255, 255, 255, 0.1);
    z-index: 2;
    text-transform: capitalize;
    background-clip: text;
    transition: background-size 1s ease-out;
    opacity: 1;
    height: 10.625rem;
}

.bottom {
    position: relative;
    padding-top: 6.25rem;
    font-family: 'SUIT';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 34px;
    color: #FFF;
    z-index: 2;

    span {
        color: #CCFE00;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }

    p {
        padding-top: 1.25rem;
    }
}

@media screen and (max-width: 1700px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 1500px) {
    html {
        font-size: 60%;
    }
}